* {
      position: absolute;
}
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
      overflow: hidden;
      background-color: rgb(32, 32, 32);
}
.player {
      width: 25px;
      height: 25px;
      background: rgb(0, 255, 255);
      background-image: url('/assets/player.gif');
      z-index: 1000;
      box-shadow: 0 0 10px green;
}
.portal {
      width: 40px;
      height: 40px;
      background-image: url('/assets/portal.gif');
      text-align: center;
      z-index: 5;
}
.floor {
      width: 500px;
      height: 500px;
      background: rgb(100, 100, 100);
      background-image: url('/assets/floor.gif');
      z-index: 1;
}
.skeleton {
      width: 30px;
      height: 30px;
      background: rgb(255, 0, 0);
      background-image: url('/assets/skele-boi.gif');
      z-index: 50;
      box-shadow: 0 0 10px black;
}
.mage {
      width: 30px;
      height: 30px;
      background: rgb(255, 0, 0);
      background-image: url('/assets/mage.gif');
      z-index: 50;
      box-shadow: 0 0 10px red;
}
.inventorySlot {
      z-index: 1000002;
      opacity: 0.8;
      box-shadow: inset 0 0 6px black;
}
.mint {
      width: 10px;
      height: 5px;
      background: #b9ffb9;
      z-index: 10;
      box-shadow: 0 0 10px #00ff00;
}
.mintItem {
      background-image: url('/assets/mint.gif');
      background-repeat: no-repeat;
      background-size:100% 100%;
      z-index: 1000002;
}
.mintDropped {
      background-image: url('/assets/mint.gif');
      background-repeat: no-repeat;
      background-size:100% 100%;
      width: 25px;
      height: 25px;
      z-index: 1;
}
.lifeSaver {
      width: 25px;
      height: 25px;
      background-image: url('/assets/life-saver.gif');
      background-repeat: no-repeat;
      background-size:100% 100%;
      z-index: 10;
}
.lifeSaverItem {
      background-image: url('/assets/life-saver.gif');
      background-repeat: no-repeat;
      background-size:100% 100%;
      z-index: 1000002;
}
.lifeSaverDropped {
      width: 25px;
      height: 25px;
      background-image: url('/assets/life-saver.gif');
      background-repeat: no-repeat;
      background-size:100% 100%;
      z-index: 1;
}
.limeLifeSaver {
      width: 25px;
      height: 25px;
      background-image: url('/assets/lime-life-saver.gif');
      background-repeat: no-repeat;
      background-size:100% 100%;
      z-index: 10;
}
.limeLifeSaverItem {
      background-image: url('/assets/lime-life-saver.gif');
      background-repeat: no-repeat;
      background-size:100% 100%;
      z-index: 1000002;
}
.limeLifeSaverDropped {
      width: 25px;
      height: 25px;
      background-image: url('/assets/lime-life-saver.gif');
      background-repeat: no-repeat;
      background-size:100% 100%;
      z-index: 1;
}
.blueMint {
      width: 10px;
      height: 5px;
      background: #d5ffff;
      z-index: 10;
      box-shadow: 0 0 10px #00ffff;
}
.blueMintItem {
      background-image: url('/assets/blue-mint.gif');
      background-repeat: no-repeat;
      background-size:100% 100%;
      z-index: 1000002;
}
.blueMintDropped {
      width: 25px;
      height: 25px;
      background-image: url('/assets/blue-mint.gif');
      background-repeat: no-repeat;
      background-size:100% 100%;
      z-index: 1;
}
.purpleMint {
      width: 10px;
      height: 5px;
      background: #ffcbff;
      z-index: 10;
      box-shadow: 0 0 10px #ff00ff;
}
.purpleMintItem {
      background-image: url('/assets/purple-mint.gif');
      background-repeat: no-repeat;
      background-size:100% 100%;
      z-index: 1000002;
}
.purpleMintDropped {
      width: 25px;
      height: 25px;
      background-image: url('/assets/purple-mint.gif');
      background-repeat: no-repeat;
      background-size:100% 100%;
      z-index: 1;
}
.greenOrangeMint {
      width: 10px;
      height: 5px;
      background-image: url('/assets/green-orange-mint.gif');
      z-index: 10;
      box-shadow: 0 0 12px 2px black;
}
.greenOrangeMintItem {
      background-image: url('/assets/green-orange-mint-item.gif');
      background-repeat: no-repeat;
      background-size:100% 100%;
      z-index: 1000002;
}
.greenOrangeMintDropped {
      width: 25px;
      height: 25px;
      background-image: url('/assets/green-orange-mint-item.gif');
      background-repeat: no-repeat;
      background-size:100% 100%;
      z-index: 1;
}
.enemyProjectile {
    width: 10px;
    height: 10px;
    background: #ff0000;
    z-index: 10;
    box-shadow: 0 0 10px black;
}
.hitParticle {
    width: 8px;
    height: 8px;
    background: rgb(150,0,20);
    z-index: 10;
    box-shadow: 0 0 3px black;
}
#mainGUI {
    background: rgb(0, 0, 0);
    opacity: 0.25;
    margin-top: 0px;
    z-index: 1000000;
    box-shadow: 0 0 5px black;
}